[role=group] {
    display: inline-flex;
    position: relative;
    max-width: max-content;
    margin-bottom: 0;
    border-radius: var(--pico-border-radius);
    box-shadow: var(--pico-group-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    vertical-align: middle;
    transition: box-shadow var(--pico-transition);
}

nav > ul > div {
    display: flex;
}

.user-or-post {
    max-width: fit-content;
}

.search-table > tbody > tr > td > button {
    width: 10rem;
}

article {
    background-color: #ffffff;
    margin-top: 30px
}

article > header {
    border-bottom: none;
}

article > header,
article > footer {
    background-color:  #ffffff;
}

article > header > .grid {
    align-items: center;
    grid-template-columns: auto auto auto auto;
}

article > header > .grid > p{
    grid-column: 2/3;
    justify-self: start;
}

article > header > .grid > button{
    width: 10rem;
    grid-column: 4/5;
    justify-self: end;
    font-size: 0.8rem;
}

article > footer {
    border-top: none;
}

article > footer > details > button {
    font-size: 0.8rem;
}

.editor-container {
    margin-top: 2rem;
}

main > div > .editor-container > ul > button {
    font-size: 1rem;
}

.editor-container > ul > button {
    font-size: 0.8rem;
}



@media (max-width: 768px) {

    .landing-header {
        display: grid;
        row-gap: 0.5rem;
    }

    nav > ul > div {
        display: block;
    }

    .editor-container {
        display: flex;
        align-items: center;
    }

    article {
        background-color: #ffffff;
        margin-top: 20px
    }

    article > header,
    article > footer {
        background-color:  #ffffff;
    }

    article > header {
        border-bottom: none;
    }

    article > header > .grid{
        align-items: center;
        grid-template-rows: auto auto;
        row-gap: 0;
    }

    article > header > .grid > a {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    article > header > .grid > p {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    article > header > .grid > button{
        max-width: 100%;
    }

    .editor-container {
        display: flex;
    }

    .editor-container .buttons-container {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 0.5rem;
        font-size: 0.8rem;
        width: 5rem;
    }

}